<div class="card text-center footer">
  <div class="card-body">
    <a class="navbar-brand" [routerLink]="'/home'">
      <h5 class="card-title">getthewebkey.com</h5>
    </a>
    <p class="card-text font">
      {{ "footer.rights" | translate }}
    </p>
    <a class="navbar-brand" [routerLink]="'/home'">
      <img
        src="assets/img/logo.jpg"
        alt="Bootstrap"
        width="70"
        style="border-radius: 1rem"
      />
    </a>
  </div>
  <div class="card-footer text-muted font">
    {{ "footer.since" | translate }}
  </div>
</div>
