<div class="card text-center footer">
  <div class="card-header">Featured</div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">
      With supporting text below as a natural lead-in to additional content.
    </p>
    <a class="navbar-brand" [routerLink]="'/home'">
      <img
        src="assets/img/logo.jpg"
        alt="Bootstrap"
        width="70"
        style="border-radius: 1rem"
      />
    </a>
  </div>
  <div class="card-footer text-muted">Since 2023</div>
</div>
