.navbar {
  margin: 0px;
  padding: 0px;
}
a {
  font-size: 1.3rem;
}

.facebooke,
.watsap,
.messanger {
  margin: 0.2rem;
}

.facebooke {
  color: rgb(27, 139, 218);
}

.messanger {
  color: rgb(101, 186, 246);
}

.watsap {
  color: green;
}

@media screen and (max-width: 900px) {
  .container-fluid {
    padding: 0.2rem;
  }
  a {
    font-size: 1rem;
  }
}
