.main {
  display: grid;
  min-width: 270px;
  margin: auto;
  // background-image: linear-gradient(rgb(72, 161, 233), rgb(127, 20, 154));
}

.slogan {
  margin: 2rem;
  display: inline-block;
  justify-self: center;
  padding: 10px;
  color: rgb(55, 231, 24);
  font-weight: bolder;
  border: 2px dotted red;
  border-radius: 10px;
  background-color: green;
  font-family: "slogan";
}

.title {
  min-width: 40%;
  margin: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: orange;
}

img {
  border: 1px solid black;
  border-radius: 3px;
}

.lang {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: white;
  border-radius: 20px;
}

h1 {
  margin: 0px;
  padding: 0px;
  font-family: "MyFont";
  font-size: 50px;
  text-shadow: 2px 2px #ff0000;
}

button {
  border: 0px;
  padding: 5px;
  width: 35px;
  height: 27px;

  margin: auto;

  background-size: cover;
  background-repeat: no-repeat;
}

.transition-effect {
  transition: background-image 0.5s ease-in-out;
}

.ge-background {
  background-image: url("../../../assets/img/flags/ge.svg");
}

.en-background {
  background-image: url("../../../assets/img/flags/eu.svg");
}

@media screen and (max-width: 750px) {
  .title {
    min-width: 60%;
  }
}
