<div class="card" style="max-width: 95vw; min-width: 40vw; max-height: 60vh">
  <div class="card-body">
    <h3 class="card-title">{{ "bio.title" | translate }}</h3>

    <div class="content container">
      <div class="row">
        <div class="col-5">FullName</div>
        <div class="col">--</div>
        <div class="col-5">Manuchar Chachanidze</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-5">Date of Bearth</div>
        <div class="col">--</div>
        <div class="col-5">3 December, 1979</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-5">Place of Bearth</div>
        <div class="col">--</div>
        <div class="col-5">Tchiatura, Georgia</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-5">Place of Residenece</div>
        <div class="col">--</div>
        <div class="col-5">Tbilisi, Georgia</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-5">Address</div>
        <div class="col">--</div>
        <div class="col-5">Barnovi st. 80</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-5">Phone</div>
        <div class="col">--</div>
        <div class="col-5">+995 557 96 13 27</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-5">E-Mail</div>
        <div class="col">--</div>
        <div class="col-5">manucharch@gmail.com</div>
      </div>

      <hr />
    </div>
  </div>
</div>
