.card {
  margin: 1rem;
}

img {
  margin: auto;
}

p {
  text-align: justify;
}

.row {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1rem;
}

.row:hover {
  font-size: 1.4rem;
  background-color: beige;
}

.card {
  overflow-y: scroll;
}
