<div class="card" style="max-width: 95vw; min-width: 40vw; max-height: 60vh">
  <div class="card-body">
    <h3 class="card-title">{{ "bio.title" | translate }}</h3>

    <hr />

    <br />

    <div class="content container">
      <div class="row">
        <div class="col-5">{{ "bio.fullname" | translate }}</div>
        <div class="col">--</div>
        <div class="col-5">{{ "bio.name" | translate }}</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-5">{{ "bio.birthDay1" | translate }}</div>
        <div class="col">--</div>
        <div class="col-5">{{ "bio.birthDay2" | translate }}</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-5">{{ "bio.placeofbirth1" | translate }}</div>
        <div class="col">--</div>
        <div class="col-5">{{ "bio.placeofbirth2" | translate }}</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-5">{{ "bio.placeofrecidence1" | translate }}</div>
        <div class="col">--</div>
        <div class="col-5">{{ "bio.placeofrecidence2" | translate }}</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-5">{{ "bio.address1" | translate }}</div>
        <div class="col">--</div>
        <div class="col-5">{{ "bio.address2" | translate }}</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-5">{{ "bio.phone" | translate }}</div>
        <div class="col">--</div>
        <div class="col-5">+995 557 96 13 27</div>
      </div>

      <hr />

      <div class="row">
        <div class="col-5">{{ "bio.email" | translate }}</div>
        <div class="col">--</div>
        <div class="col-5">manucharch@gmail.com</div>
      </div>

      <hr />
    </div>
  </div>
</div>
