<div class="wraper">
  <table class="table table-primary table-bordered table-hover">
    <thead>
      <tr class="align-middle">
        <th style="width: 7%" scope="col">
          {{ "entertain.head" | translate }}
        </th>
        <th style="width: 7%" scope="col">
          {{ "entertain.head1" | translate }}
        </th>
        <th style="width: 7%" scope="col">
          {{ "entertain.head2" | translate }}
        </th>
        <th scope="col">{{ "entertain.head3" | translate }}</th>
        <th scope="col">{{ "entertain.head4" | translate }}</th>
        <th style="width: 7%" scope="col">
          {{ "entertain.head5" | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="align-middle">
        <td>{{ "entertain.time" | translate }}</td>
        <td>{{ "entertain.time1" | translate }}</td>
        <td>{{ "entertain.time2" | translate }}</td>
        <td>{{ "entertain.time3" | translate }}</td>
        <td>{{ "entertain.time4" | translate }}</td>
        <td>T</td>
      </tr>

      <tr class="align-middle">
        <td>{{ "entertain.length" | translate }}</td>
        <td>{{ "entertain.length1" | translate }}</td>
        <td>{{ "entertain.length2" | translate }}</td>
        <td>{{ "entertain.length3" | translate }}</td>
        <td>{{ "entertain.length4" | translate }}</td>
        <td>L</td>
      </tr>

      <tr class="align-middle">
        <td>{{ "entertain.mass" | translate }}</td>
        <td>{{ "entertain.mass1" | translate }}</td>
        <td>{{ "entertain.mass2" | translate }}</td>
        <td>{{ "entertain.mass3" | translate }}</td>
        <td>{{ "entertain.mass4" | translate }}</td>
        <td>T</td>
      </tr>

      <tr class="align-middle">
        <td>{{ "entertain.ampere" | translate }}</td>
        <td>{{ "entertain.ampere1" | translate }}</td>
        <td>{{ "entertain.ampere2" | translate }}</td>
        <td>{{ "entertain.ampere3" | translate }}</td>
        <td>{{ "entertain.ampere4" | translate }}</td>
        <td>I</td>
      </tr>

      <tr class="align-middle">
        <td>{{ "entertain.kelvin" | translate }}</td>
        <td>{{ "entertain.kelvin1" | translate }}</td>
        <td>{{ "entertain.kelvin2" | translate }}</td>
        <td>{{ "entertain.kelvin3" | translate }}</td>
        <td>{{ "entertain.kelvin4" | translate }}</td>
        <td>Θ</td>
      </tr>

      <tr class="align-middle">
        <td>{{ "entertain.mole" | translate }}</td>
        <td>{{ "entertain.mole1" | translate }}</td>
        <td>{{ "entertain.mole2" | translate }}</td>
        <td>{{ "entertain.mole3" | translate }}</td>
        <td>{{ "entertain.mole4" | translate }}</td>
        <td>N</td>
      </tr>

      <tr class="align-middle">
        <td>{{ "entertain.candela" | translate }}</td>
        <td>{{ "entertain.candela1" | translate }}</td>
        <td>{{ "entertain.candela2" | translate }}</td>
        <td>{{ "entertain.candela3" | translate }}</td>
        <td>{{ "entertain.candela4" | translate }}</td>
        <td>J</td>
      </tr>
    </tbody>
  </table>
</div>
