.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(225, 208, 143);
  max-width: 95vw;
  margin: 1rem;
  border-radius: 10px;
}

h5{
  font-family: 'cardtitle';
}