<div class="about">
  <div class="container text-center">
    <section class="title">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ "about.title" | translate }}</h2>
        </div>
      </div>
    </section>

    <section class="general">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ "about.titleG" | translate }}</h5>
              <p class="card-text">{{ "about.general" | translate }}</p>
              <a [routerLink]="'/contact'" class="btn btn-primary">{{
                "about.contact" | translate
              }}</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="products">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ "about.titleFR" | translate }}</h5>
              <p class="card-text">{{ "about.front" | translate }}</p>
              <a [routerLink]="'/contact'" class="btn btn-primary">{{
                "about.contact" | translate
              }}</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ "about.titleBK" | translate }}</h5>
              <p class="card-text">{{ "about.back" | translate }}</p>
              <a [routerLink]="'/contact'" class="btn btn-primary">{{
                "about.contact" | translate
              }}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ "about.titleFL" | translate }}</h5>
              <p class="card-text">{{ "about.full" | translate }}</p>
              <a [routerLink]="'/contact'" class="btn btn-primary">{{
                "about.contact" | translate
              }}</a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ "about.titleW" | translate }}</h5>
              <p class="card-text">{{ "about.windows" | translate }}</p>
              <a [routerLink]="'/contact'" class="btn btn-primary">{{
                "about.contact" | translate
              }}</a>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ "about.titleW" | translate }}</h5>
              <p class="card-text">{{ "about.more" | translate }}</p>
              <a [routerLink]="'/contact'" class="btn btn-primary">{{
                "about.contact" | translate
              }}</a>
            </div>
          </div>
        </div> -->
      </div>
    </section>
  </div>
</div>
