<div class="about">
  <div class="container text-center">
    <section class="title">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ "about.title" | translate }}</h2>
        </div>
      </div>
    </section>

    <section class="general">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">{{ "about.general" | translate }}</div>
          </div>
        </div>
      </div>
    </section>

    <section class="products">
      <div class="row">
        <div class="col-md-4">
          <div class="card-body">{{ "about.front" | translate }}</div>
        </div>
        <div class="col-md-4">
          <div class="card-body">{{ "about.back" | translate }}</div>
        </div>
        <div class="col-md-4">
          <div class="card-body">{{ "about.full" | translate }}</div>
        </div>
      </div>
    </section>

    <section class="more">
      <div class="row">
        <div class="col-md-6">
          <div class="card-body">{{ "about.windows" | translate }}</div>
        </div>
        <div class="col-md-6">
          <div class="card-body">{{ "about.front" | translate }}</div>
        </div>
      </div>
    </section>

    <div class="row">
      <div class="col-md-12">
        <section class="title">
          <h2>{{ "about.title" | translate }}</h2>
        </section>
      </div>
    </div>
  </div>
</div>
