.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(225, 208, 143);
  max-width: 95vw;
  border-radius: 10px;
}

h5 {
  font-family: "cardtitle";
}

.card-text {
  font-family: cardText;
  font-size: 25px;
}

.container {
  padding: 10px;
}

.card {
  margin: 10px;
}

.card:hover {
  background-color: rgb(252, 186, 186);
  cursor: zoom-in;

  scale: 1.05;
  z-index: 2;
}
