.entertain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  margin: 2rem;
}

.convert {
  background-color: aquamarine;
  margin: 2rem;
}
