<div class="contactForm">
  <form
    id="contact-form"
    name="contact-form"
    [formGroup]="contactForm"
    (ngSubmit)="submitForm()"
  >
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-6">
        <label for="name" class="">{{ "contact.name" | translate }}</label>

        <div class="md-form mb-0">
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            formControlName="name"
            required
          />
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6">
        <div class="md-form mb-0">
          <label for="email" class="">{{ "contact.mail" | translate }}</label>

          <input
            type="text"
            id="email"
            name="email"
            class="form-control"
            formControlName="email"
            required
          />
        </div>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row">
      <div class="col-md-12">
        <div class="md-form mb-0">
          <label for="subject" class="">{{
            "contact.subject" | translate
          }}</label>
          <input
            type="text"
            id="subject"
            name="subject"
            class="form-control"
            formControlName="subject"
            required
          />
        </div>
      </div>
    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row" style="margin-bottom: 10px">
      <!--Grid column-->
      <div class="col-md-12">
        <div class="md-form">
          <label for="message">{{ "contact.massage" | translate }}</label>

          <textarea
            type="text"
            id="message"
            name="message"
            rows="2"
            class="form-control md-textarea"
            formControlName="message"
            required
          ></textarea>
        </div>
      </div>
    </div>
    <!--Grid row-->

    <div class="text-center text-md-left">
      <button
        *ngIf="!showSpinner"
        id="sbmbtn"
        class="btn btn-primary"
        type="submit"
        [disabled]="contactForm.invalid"
      >
        {{ "contact.send" | translate }}
      </button>
      <button
        *ngIf="showSpinner"
        class="btn btn-primary"
        type="button"
        disabled
      >
        <span
          class="spinner-grow spinner-grow-sm"
          role="status"
          aria-hidden="true"
        ></span>
        {{ "contact.sending" | translate }}
      </button>
    </div>
  </form>
</div>
