*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: rgba(223, 19, 19, 0.202);
}

body {
  margin: 0;
  padding: 0;

  background-image: url("../src/assets/img/backgrounds/main2.jpg");
  background-position: center;
  font-family: "Work Sans", serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

:root {
  --background: #8bc34a;
  --bodyColor: #ff9800;
}
