@font-face {
  font-family: 'MyFont';
  src: url('./assets/alkdots-webfont.ttf');
}

@font-face {
  font-family: 'navBar';
  src: url('./assets/bpg-rioni-vera-light-webfont.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0px;
  padding: 0px;
  background-color: rgba(223, 19, 19, 0.202);
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(20, 83, 154);
  font-family: "Work Sans", serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

:root {
  --background: #f2f2f2b3;
  --bodyColor: #ff9800;
}

@media screen and (max-width: 575px) {
  body {
    overflow-y: scroll;
  }
}
