<div class="contact">
  <!--Section: Contact v.2-->
  <section class="mb-4">
    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">
      {{ "contact.contact" | translate }}
    </h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">
      {{ "contact.text" | translate }}
    </p>

    <div class="row">
      <!--Grid column-->
      <div class="col-md-9 mb-md-0 mb-5">
        <app-contactform></app-contactform>

        <div class="status"></div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-3 text-center">
        <ul class="list-unstyled mb-0">
          <li>
            <i class="fas fa-map-marker-alt fa-2x"></i>
            <p>{{ "contact.address" | translate }}</p>
          </li>

          <li>
            <i class="fas fa-phone mt-4 fa-2x"></i>
            <p>+ 995 557 96 13 27</p>
          </li>

          <li>
            <i class="fas fa-envelope mt-4 fa-2x"></i>
            <p>contact@getthewebkey.com</p>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
  </section>
  <!--Section: Contact v.2-->
</div>
